fastapi
uvicorn[standard]
python-multipart
numpy==1.26.4
opencv-python<4.10.0
opencv-python-headless<4.10.0
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
gfpgan
basicsr
facexlib
realesrgan
tensorflow>=2.13.0
scikit-learn>=1.0.0
tf-keras
retina-face
rembg==2.0.50
h5py>=3.10.0


